.footer {
  /* position: fixed; */
   width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/* Icon animation */
.social-icon {
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.social-icon:hover {
  transform: scale(1.3) rotate(8deg);
  filter: drop-shadow(0 0 6px currentColor);
}
