
.header {
  background-color: #f8f9fa;
  padding: 50px 0;
  text-align: center;
}

.header h1 {
  font-weight: 700;
}

.header p {
  color: #6c757d;
}


.student-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
  border: none;
  height: 550px;      
  display: flex;
  flex-direction: column;
}

.student-img {
  width: 80%;
  height: 400px;      
  object-fit: cover;   
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 15px;
  flex-grow: 1;      
}

.card-body h5 {
  font-weight: 700;
  margin-bottom: 5px;
}

.card-body .role {
  color: #6c757d;
  margin: 5px 0;
}

.card-body .company {
  font-weight: 600;
  margin: 5px 0;
}

.card-body .package {
  color: green;
  font-weight: 700;
  margin: 5px 0;
}
.student-img {
  width: 80%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;

 
  display: block;
  margin: 0 auto;
}
